* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.main-bg img{
    width:100%;
    height:100%;
    position:absolute;
}

.rocket_img img {
    width:200px;
    height:200px;
}